.btn {
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    padding: 1rem;
    font-size: 18px;

    &:hover {
        cursor: pointer;
        border-bottom: 2px solid #FFB000;
        border-top: 2px solid #FFB000;
        color: #FFB000;
    }
}